<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
      integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <ul class="nav">
      <li class="nav-link"><a href="{{url_for('core.index')}}">Home</a></li>
      <li class="nav-link"><a href="{{url_for('core.info')}}">About</a></li>

      {% if current_user.is_authenticated %}

      <li class="nav-link"><a href="{{url_for('users.logout')}}">Logout</a></li>
      <li class="nav-link">
        <a href="{{url_for('users.account')}}">Account</a>
      </li>
      <li class="nav-link"><a href="#">Create Post</a></li>

      {% else %}

      <li class="nav-link"><a href="{{url_for('users.login')}}">Log In</a></li>
      <li class="nav-link">
        <a href="{{url_for('users.register')}}">Register</a>
      </li>
      {% endif %}
    </ul>

    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
