{% extends 'base.html' %} {% block content %}
<div class="jumbotron">
  <h2>{{post.title}}</h2>
  <h4>Written By: {{post.author.username}}</h4>
  <h5>Published: {{post.date.strftime('%B %d, %Y')}}</h5>
  <p>{{post.text}}</p>

  {% if post.author == current_user %}
  <div>
    <a href="{{url_for('blog_posts.update',blog_post_id=post.id)}}">Update</a>
    <button
      type="button"
      class="btn btn-danger"
      data-toggle="modal"
      data-target="#del"
    >
      Delete
    </button>
  </div>
  {% endif %}
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="del">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Post Pop up Modal</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this blog post?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>

        <form
          action="{{url_for('blog_posts.delete_post', blog_post_id=post.id) }}"
          method="POST"
        >
          <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
